extends base

block content 
  main.main
    .addProduct-form
      h2.heading-addProduct Update Product
      a(href="/") Back to Home Page
      form.form-addProduct
        .form__group
          label.form__label(for='text') Name
          input#product_name.form__input(type='text', value=`${product.name}`, placeholder='Quantity of product',required)
        .form__group
          label.form__label(for='number') Quantity
          input#product_qty.form__input(type='number', value=`${product.quantity}`, placeholder='Quantity of product', required)
        .form__group
          label.form__label(for='text') Location
          select#product_city.form__input(required)
            option.option-location.select__default(value=`${product.city}`) Please select a location
            option.option-location(value="New York") New York 
            option.option-location(value="San Francisco") San Francisco
            option.option-location(value="Los Angeles") Los Angeles
            option.option-location(value="Chicago") Chicago
            option.option-location(value="Boston") Boston
        .form__group
          label.form__label(for='text') Description
          input#product_des.form__input(type='text', value=`${product.description}`,placeholder='Description', required)
        .form__group
          button.btn.btn--green Update Product