html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
  padding: 3rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main {
  background-color: white;
  padding: 8rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.div-product {
  display: flex;
  border: 1px solid #e5e5e5;
}
.product-name {
  flex: 0.8;
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #777;
  margin-bottom: 1rem;
}
.product-weather {
  flex: 1;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 300;
  color: #777;
  margin-bottom: 1rem;
}
.btn-update {
  border-radius: 7px;
  font-size: 1.5rem;
  margin: 1rem;
  background-color: aquamarine;
}
.btn-delete {
  border-radius: 7px;
  font-size: 1.5rem;
  color: #f7f7f7;
  margin: 1rem;
  background-color: red;
}
.div-addProduct {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2rem;
}
.a-addProduct {
  text-decoration: none;
  border-radius: 7px;
  font-size: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #f7f7f7;
  background-color: rgb(75, 41, 209);
}
.weather-img {
  width: 5rem;
  height: 5rem;
}
.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form__label {
  font-size: 2rem;
  font-weight: 500;
  color: black;
  margin-bottom: 0.2rem;
}